@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <p>@ViewBag.Count</p>
    }
    else
    {
        <p>WebAppSavePrivateNotes</p>
    }
    <h3></h3>
</div>
